[Unit]
Description=Event Manager Backend
After=network.target

[Service]
User=bitnami
WorkingDirectory=/home/bitnami/event-manager
ExecStart=/home/bitnami/event-manager/venv/bin/gunicorn -w 4 -b 0.0.0.0:5001 "run:app"
Restart=always
Environment="FLASK_ENV=production"

[Install]
WantedBy=multi-user.target 